/* =======================
       Overall Styles
   ======================= */

* {
    box-sizing: border-box;
}

/* =======================
       Layout Styles
   ======================= */

img {
    width: 100%;
}


input[name="search"] {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    border-width: 0;
    background-color: #f2f2f2;
    padding-left: .5em;
}

/* =======================
      Lightbox Styles
   ======================= */

.lb-outerContainer,
.lightboxOverlay,
.lightbox .lb-image {
    border-radius: 0;
    border: none;
}

.lightboxOverlay {
    width: 100vh;
    height: 100vh;
    display: block;
    border: none;
}

/* =======================
         Container
   ======================= */

.container {
    margin: 0 auto;
    width: 90%;
}

/* =======================
         Clearfix
   ======================= */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* =======================
        Media Queries
   ======================= */

@media screen and (min-width: 480px) {

    input[name="search"] {
        width: 50%;
        margin-left: 25%;
    }

    .col {
        float: left;
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
    }

    .gallery {
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 1em;
        padding-top: 32px;
        margin-bottom: 20px;
    }

    /*.lb-nav a.lb-next,
    .lb-nav a.lb-prev{
        opacity: 1;
    }*/

}

@media screen and (min-width: 768px) {

    .col {
        float: left;
        width: 33.3333%;
    }
}

@media screen and (min-width: 1024px) {

    .col {
        float: left;
        width: 25%;
    }
}